<%= render template: preview.path, locals: { showcase: preview } %>

<section class="sc-header">
  <h1><%= preview.title || "Previewing #{preview.name}" %></h1>

  <%= preview.description %>
</section>

<section class="sc-examples">
  <% preview.samples.each do |sample| %>
    <article class="sc-sample">
      <h3><%= sample.name %></h3>

      <div>
        <%= capture(&sample.block) %>
      </div>

      <pre>
        <%= sample.source %>
      </pre>
    </article>
  <% end %>
</section>
