<%= render template: showcase.path, locals: { showcase: showcase } %>

<section class="sc-header">
  <h1><%= showcase.title || "Showcasing #{showcase.name}" %></h1>

  <%= showcase.description %>
</section>

<section class="sc-examples">
  <% showcase.samples.each do |sample| %>
    <article class="sc-sample">
      <h3><%= sample.name %></h3>

      <div>
        <%= capture(&sample.block) %>
      </div>

      <pre>
        <%= sample.source %>
      </pre>
    </article>
  <% end %>
</section>
