<%= render template: preview.path, locals: { viewtale: preview } %>

<section class="vt-header">
  <h1><%= preview.title || "Previewing #{preview.name}" %></h1>

  <%= preview.description %>
</section>

<section class="vt-examples">
  <% preview.examples.each do |example| %>
    <article class="vt-example">
      <h3><%= example.name %></h3>

      <div>
        <%= capture(&example.block) %>
      </div>

      <pre>
        <%= example.source %>
      </pre>
    </article>
  <% end %>
</section>
