<section class="mb-4 border border-gray-200 rounded-md">
  <showcase-sample id="<%= sample.id %>" events="<%= sample.events %>">
    <header class="bg-slate-100/50">
      <h3 class="px-4 py-2 font-medium text-base md:text-lg leading-snug truncate"><%= link_to sample.name, "##{sample.id}" %></h3>

      <% if sample.description %>
        <p class="px-4 py-2 text-base"><%= sample.description %></p>
      <% end %>
    </header>

    <% if sample.preview %>
      <section class="px-4 py-2 border border-gray-200 border-0 border-b">
        <%= sample.preview %>
      </section>
    <% end %>

    <% if sample.source %>
      <details>
        <summary class="px-4 py-2 hover:bg-indigo-50 cursor-pointer">View Source</summary>

        <section class="px-4 py-2 relative overflow-hidden">
          <%= sample.source %>
        </section>
      </details>
    <% end %>

    <% if sample.events.any? %>
      <section class="px-4 py-2 font-small bg-slate-50">
        <h4 class="mb-2 font-medium text-base">JavaScript Events</h4>

        <div class="overflow-scroll max-h-20">
          <pre data-showcase-sample-target="relay"></pre>
        </div>
      </section>
    <% end %>
  </showcase-sample>
</section>
