<showcase-sample class="sc-sample" id="<%= sample.id %>" events="<%= sample.details[:events] %>">
  <h3><%= link_to sample.name, "##{sample.id}" %></h3>

  <section>
    <%= sample.preview %>
  </section>

  <section>
    <%= sample.source %>
  </section>

  <div data-showcase-sample-target="relay"></div>
</showcase-sample>
