<section class="sc-mb-4 sc-border sc-border-solid sc-border-gray-200 sc-rounded-md sc-overflow-clip" aria-labelledby="showcase_<%= sample.id %>_title">
  <showcase-sample id="<%= sample.id %>" events="<%= sample.events %>">
    <header class="sc-bg-slate-100/50 dark:sc-bg-neutral-700/50">
      <div class="sc-flex sc-justify-between">
        <h3 id="showcase_<%= sample.id %>_title" class="sc-m-0 sc-px-4 sc-py-2 sc-font-medium sc-text-base md:sc-text-lg sc-leading-snug sc-truncate">
          <%= link_to sample.name, "##{sample.id}", class: "sc-link" %>
        </h3>

        <% if event = sample.instrumented %>
          <div class="sc-text-xs sc-grid sc-gap-x-2 sc-m-2 sc-italic sc-text-slate-500 dark:sc-text-inherit">
            <span><%= event.duration.round(1) %>ms</span>
            <span><%= event.allocations %> allocs</span>
          </div>
        <% end %>
      </div>

      <% if sample.description %>
        <div class="sc-px-4 sc-pb-2 sc-text-base"><%= sample.description %></div>
      <% end %>
    </header>

    <% if sample.rendered %>
      <section class="sc-px-4 sc-py-2">
        <%= sample.rendered %>
      </section>
    <% end %>

    <% if sample.source %>
      <details>
        <summary class="sc-list-item sc-px-4 sc-py-2 hover:sc-bg-indigo-50 dark:hover:sc-bg-neutral-700/50 sc-cursor-pointer sc-select-none">View Source</summary>

        <section class="sc-highlight sc-px-4 sc-py-2 sc-relative sc-overflow-y-auto hover:sc-select-all">
          <pre><%= sample.source %></pre>
        </section>
      </details>
    <% end %>

    <% if sample.events.any? %>
      <section class="sc-px-4 sc-py-2 sc-font-small sc-bg-slate-50 dark:sc-bg-neutral-800 sc-rounded-b-md" aria-labelledby="showcase_<%= sample.id %>_javascript_events_title">
        <h4 id="showcase_<%= sample.id %>_javascript_events_title" class="sc-m-0 sc-mb-2 sc-font-medium sc-text-base">JavaScript Events</h4>

        <div class="sc-overflow-scroll sc-max-h-48">
          <pre data-showcase-sample-target="relay"></pre>
        </div>
      </section>
    <% end %>
  </showcase-sample>
</section>
